.searchWrapper {
  position: relative;
  width: 500px;
  margin: 0 auto;
}

.searchBar {
  display: flex;
  align-items: center;
  width: 100%;
}

.searchInput {
  flex: 1;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.searchIcon {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 20px;
  fill: rgb(0, 0, 0);
  cursor: pointer;
}

.resultsContainer {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 4px 10px;
  z-index: 100;
  list-style: none;
}
