.resultItem:hover {
  background-color: #f6f7f8;
}

.name {
  font-weight: 600;
  font-size: 14px;
  color: #1c1c1c;
}

.title {
  font-size: 12px;
  color: #787c7e;
  margin-top: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
