.searchBar {
  position: relative;
  width: 500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.searchInput {
  width: 100%;
  padding: 12px 30px 12px 6px;
  box-sizing: border-box;
  font-size: 12px;
  border-radius: 15px;
  background-color: rgb(245, 243, 243);
}

.searchIcon {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  fill: rgb(0, 0, 0);
  pointer-events: none;
}

.navBar {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 50px;
  gap: 1rem;
  width: 10%;
}

.navItem {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  transition: background-color 0.2s, color 0.2s;
}

.navItem:hover {
  background-color: #f0f0f0;
  color: #555;
}

.icon {
  width: 26px;
  height: 26px;
}

.navDivider {
  border: none;
  height: 1px;
  background-color: #ddd;
  margin: 0;
  margin-top: 10px;
}
