.postCard {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 12px 16px;
  margin-bottom: 12px;
  width: 100%;
  max-width: 600px;
  height: fit-content;

  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
}
.postCard:hover {
  background-color: #f6f7f8;
  cursor: pointer;
}

.author {
  font-size: 1rem;
  color: #555;
  margin-bottom: 8px;
  text-align: center;
}

.title {
  font-size: 1.2rem;
  margin-bottom: 12px;
  color: #222;
  text-align: center;
}

.image {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 12px;
  display: block;
}

.video {
  max-width: 100%;
  max-height: 700px;
  border-radius: 4px;
  margin-bottom: 12px;
}

.galleryWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 12px;
}

.galleryImage {
  max-width: 100%;
  border-radius: 4px;
  display: block;
}

.selftext {
  margin-top: 12px;
  line-height: 1.5;
  font-size: 1rem;
  color: #333;
  text-align: center;
}

@media (max-width: 768px) {
  .postCard {
    border-radius: 0;
    padding: 12px;
    max-width: 100%;
  }
}
